#wrapper {
    display: flex;
    width: 100%;
}

.place-holder {
    flex-grow: 1;
}

.sidenav {
    margin: 2rem;
    width: 20em;
    min-width: 15em;
    min-height: 100vh;
    h2 {
        color: #159957;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 10px;
    }
}

.main-content hr {
    height: 1px;
}

.topnav {
    display: none;
}

.main-content {
    padding: 2rem;
    width: 64rem;
}

#toc {
    margin-top: 2px;
    a {
        text-decoration: none;
        color: inherit;
    }
    list-style: none;
    padding: 0;
    .toc-h1 {
        padding: 5px 0;
    }
    .toc-h2 {
        font-size: 0.90em;
        font-weight: normal;
    }

    ul {
        list-style: none;
        padding: 0 0 0 20px;
    } 
}

#nav-wrapper {
    margin-top: 2em;
    display: flex;

    .return-home {
        flex-grow: 1;
    }

    a {
        margin: 0 1em;
    }
}

@media screen and (max-width: 1000px) {
    .sidenav {
        display: none;
    }
    .topnav {
        display: inherit;
        margin-bottom: -20px;
    }
}
